$icons: (
'filter-sort': '<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 13" style="enable-background:new 0 0 30 13;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} .st1{fill:#5E636C;} .st2{fill:#191F2D;} .st3{fill:#6AC5AD;} .st4{fill:#0F8342;} </style> <g> <g> <rect y="2" class="st4" width="30" height="2"/> </g> <g> <rect y="9" class="st4" width="30" height="2"/> </g> <g> <rect x="3" y="0" class="st4" width="6" height="6"/> </g> <g> <rect x="16" y="7" class="st4" width="6" height="6"/> </g> </g> </svg>',
'logo-seafoam': '<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 62 62" style="enable-background:new 0 0 62 62;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} .st1{fill:#5E636C;} .st2{fill:#191F2D;} .st3{fill:#6AC5AD;} .st4{fill:#0F8342;} </style> <g> <path class="st3" d="M34.69,55.06l0-17.86l-15.31-6.63l-0.06,0.15v7.87l8,3.46v7.4l-14.68-6.36V18.45L34.69,28V12.56l14.68,6.36 v24.63l-7.3-3.16v8.04l9.53,4.13c1.14,0.49,2.45,0.38,3.49-0.3c1.04-0.68,1.66-1.84,1.66-3.08V16.5c0-1.47-0.87-2.8-2.22-3.39 L32.47,3.56c-1.14-0.49-2.45-0.38-3.49,0.3c-1.04,0.68-1.66,1.84-1.66,3.08v9.82l-16.9-7.32c-1.14-0.49-2.45-0.38-3.49,0.3 c-1.04,0.68-1.66,1.84-1.66,3.08V45.5c0,1.47,0.87,2.8,2.22,3.39l22.06,9.55c1.14,0.49,2.45,0.38,3.49-0.3 C34.06,57.46,34.69,56.3,34.69,55.06z"/> </g> </svg>',
'logo-white': '<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 165 38" style="enable-background:new 0 0 165 38;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} .st1{fill:#5E636C;} .st2{fill:#191F2D;} .st3{fill:#6AC5AD;} .st4{fill:#0F8342;} </style> <g> <path class="st0" d="M20.12,34.33l0-11.39l-9.76-4.23l-0.04,0.09v5.01l5.1,2.21v4.72L6.06,26.7V11l14.06,6.09V7.25l9.36,4.05V27 l-4.65-2.02v5.13l6.07,2.63c0.73,0.31,1.56,0.24,2.23-0.19c0.66-0.43,1.06-1.17,1.06-1.97V9.76c0-0.94-0.56-1.79-1.42-2.16 L18.7,1.51c-0.73-0.31-1.56-0.24-2.23,0.19c-0.66,0.43-1.06,1.17-1.06,1.97v6.26L4.64,5.26C3.91,4.94,3.08,5.02,2.41,5.45 C1.75,5.89,1.35,6.62,1.35,7.42v20.83c0,0.94,0.56,1.79,1.42,2.16l14.06,6.09c0.73,0.31,1.56,0.24,2.23-0.19 C19.72,35.87,20.12,35.13,20.12,34.33z"/> <g> <polygon class="st0" points="76.63,10.91 72.27,10.91 68.1,20.54 63.93,10.91 59.36,10.91 65.81,25.82 62.69,33.04 67.06,33.04 "/> <path class="st0" d="M58.87,28.61v-3.79h2.34l-1.72-3.98h-9.15v3.98h3.98v3.41c0,0.47-0.16,0.63-0.63,0.63h-6.1 c-0.47,0-0.63-0.16-0.63-0.63V15.71c0-0.47,0.16-0.63,0.63-0.63h9.43l-1.81-4.17h-8.38c-3,0-4.43,1.42-4.43,4.43v13.28 c0,3,1.42,4.43,4.43,4.43h7.62C57.44,33.04,58.87,31.62,58.87,28.61z"/> <path class="st0" d="M120.27,10.91h-8.13c-3,0-4.43,1.42-4.43,4.43v13.28c0,3,1.42,4.43,4.43,4.43h8.13c3,0,4.43-1.42,4.43-4.43 V15.33C124.7,12.33,123.28,10.91,120.27,10.91z M120.15,28.23c0,0.47-0.16,0.63-0.63,0.63h-6.61c-0.47,0-0.63-0.16-0.63-0.63 V15.71c0-0.47,0.16-0.63,0.63-0.63h6.61c0.47,0,0.63,0.16,0.63,0.63V28.23z"/> <path class="st0" d="M140.39,28.23c0,0.47-0.16,0.63-0.63,0.63h-5.77c-0.47,0-0.63-0.16-0.63-0.63V10.91h-4.55v17.71 c0,3,1.42,4.43,4.43,4.43h7.28c3,0,4.43-1.42,4.43-4.43V10.91h-4.55V28.23z"/> <polygon class="st0" points="94.07,10.91 87.66,25.74 87.66,10.91 81.6,10.91 72.03,33.04 76.94,33.04 83.57,17.71 83.57,33.04 88.91,33.04 95.54,17.71 95.54,33.04 100.09,33.04 100.09,10.91 		"/> <polygon class="st0" points="163.65,10.91 147.84,10.91 147.84,15.02 153.47,15.02 153.47,33.04 158.02,33.04 158.02,15.02 163.65,15.02 		"/> </g> </g> </svg>',
'login': '<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17 19" style="enable-background:new 0 0 17 19;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} .st1{fill:#5E636C;} .st2{fill:#191F2D;} .st3{fill:#6AC5AD;} .st4{fill:#0F8342;} </style> <g> <g> <path class="st0" d="M14,17h-2v-4c0-0.55-0.45-1-1-1H6c-0.55,0-1,0.45-1,1v4H3v-4c0-1.65,1.35-3,3-3h5c1.65,0,3,1.35,3,3V17z"/> </g> <g> <path class="st0" d="M8.5,9C6.57,9,5,7.43,5,5.5S6.57,2,8.5,2S12,3.57,12,5.5S10.43,9,8.5,9z M8.5,4C7.67,4,7,4.67,7,5.5 S7.67,7,8.5,7S10,6.33,10,5.5S9.33,4,8.5,4z"/> </g> </g> </svg>',
'review-no':'<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} .st1{fill:#5E636C;} .st2{fill:#191F2D;} .st3{fill:#6AC5AD;} .st4{fill:#0F8342;} </style> <g> <g> <g> <g> <rect x="1.93" y="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.7279 9)" class="st4" width="14.14" height="2"/> </g> </g> <g> <path class="st4" d="M18,18H0V0h18V18z M2,16h14V2H2V16z"/> </g> </g> <g> <g> <rect x="8" y="1.93" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.7279 9)" class="st4" width="2" height="14.14"/> </g> </g> </g> </svg>',
'review-share':'<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} .st1{fill:#5E636C;} .st2{fill:#191F2D;} .st3{fill:#6AC5AD;} .st4{fill:#0F8342;} </style> <g> <polygon class="st4" points="10,7 15.79,7 13.5,9.29 14.91,10.71 19.62,6 14.91,1.29 13.5,2.71 15.79,5 8,5 8,15 10,15 	"/> <polygon class="st4" points="16,18 2,18 2,4 7,4 7,2 0,2 0,20 18,20 18,12 16,12 	"/> </g> </svg>',
'review-yes':'<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} .st1{fill:#5E636C;} .st2{fill:#191F2D;} .st3{fill:#6AC5AD;} .st4{fill:#0F8342;} </style> <g> <g> <g> <g> <polygon class="st4" points="7.47,12.91 3.76,9.21 5.18,7.79 7.47,10.09 12.76,4.79 14.18,6.21 				"/> </g> </g> </g> <g> <path class="st4" d="M18,18H0V0h18V18z M2,16h14V2H2V16z"/> </g> </g> </svg>',
'search':'<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} .st1{fill:#5E636C;} .st2{fill:#191F2D;} .st3{fill:#6AC5AD;} .st4{fill:#0F8342;} </style> <g> <g> <path class="st1" d="M6.74,11.85c-2.81,0-5.1-2.29-5.1-5.1s2.29-5.1,5.1-5.1s5.1,2.29,5.1,5.1S9.55,11.85,6.74,11.85z M6.74,3.65 c-1.71,0-3.1,1.39-3.1,3.1s1.39,3.1,3.1,3.1s3.1-1.39,3.1-3.1S8.45,3.65,6.74,3.65z"/> </g> <g> <rect x="12.66" y="10.82" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -5.6492 13.6546)" class="st1" width="2" height="5.66"/> </g> </g> </svg>',
'shopping-bag':'<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 19" style="enable-background:new 0 0 18 19;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FFFFFF;} .st1{fill:#5E636C;} .st2{fill:#191F2D;} .st3{fill:#6AC5AD;} .st4{fill:#0F8342;} </style> <g> <g> <path class="st2" d="M13.88,17H4.12L2.87,7h12.27L13.88,17z M5.88,15h6.23l0.75-6H5.13L5.88,15z"/> </g> </g> <g> <path class="st2" d="M13,6h-2V5c0-1.1-0.9-2-2-2S7,3.9,7,5v1H5V5c0-2.21,1.79-4,4-4s4,1.79,4,4V6z"/> </g> </svg>'
);

$data-svg-prefix: 'data:image/svg+xml;utf-8,';

@function str-replace( $string, $search, $replace ) {

	$index: str-index( $string, $search );

	@if $index {

		@return str-slice( $string, 1, $index - 1 ) + $replace + str_replace( str-slice( $string, $index + str-length( $search ) ), $search, $replace );
	}

	@return $string;
}

@function get-icon( $icon, $color: #fff ) {
	
	@if 'color' != type-of( $color ) {
		
		@warn 'The requested color - "' + $color + '" - was not recognized as a Sass color value.';
		@return null;
	}
	
	@if map-has-key( $icons, $icon ) {

		$icon:        map-get( $icons, $icon );
		$placeholder: '%%COLOR%%';
		$data-uri:    str-replace( url( $data-svg-prefix + $icon ), $placeholder, $color );

		@return str-replace( $data-uri, '#', '%23' );
	}
	
	@warn 'The requested icon - "' + $icon + '" - is not defined in the $icons map.';
	@return null;
}



.button {

    
	appearance: none;
	background: none;
	border: 3px solid #d95a2b;
	border-radius: 100em;
	color: #d95a2b;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	padding: 1em calc( 1.5em + 32px ) 0.9em 1.5em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: 200ms ease-in-out;
	transition-property: background-color, color;
	
	&:hover,
	&:active,
	&:focus {
		background: #d95a2b;
		color: #fff;
	}
	
	&::before,
	&::after {
		background: center / 24px 24px no-repeat;
		border-radius: 100em;
		bottom: 0;
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 48px;
	}
	
	&::after {
		opacity: 0;
		transition: opacity 200ms ease-in-out;
	}

	&:hover,
	&:focus,
	&:active {
			
		&::after {
			opacity: 1;
		}
	}

	&--filter-sort {
		
		&::before {
			background-image: get-icon( 'filter-sort' );
		}
		
		&::after {
			background-image: get-icon( 'filter-sort' );
		}
    }
    


	&--logo-seafoam {
		
		&::before {
			background-image: get-icon( 'logo-seafoam' );
		}
		
		&::after {
			background-image: get-icon( 'logo-seafoam' );
		}
	}


	&--logo-white {
		
		&::before {
			background-image: get-icon( 'logo-white' );
		}
		
		&::after {
			background-image: get-icon( 'logo-white' );
		}
	}

	&--login {
		
		&::before {
			background-image: get-icon( 'login' );
		}
		
		&::after {
			background-image: get-icon( 'login' );
		}
	}


    &--review-no {
		
		&::before {
			background-image: get-icon( 'review-no' );
		}
		
		&::after {
			background-image: get-icon( 'review-no' );
		}
	}

    &--review-share {
		
		&::before {
			background-image: get-icon( 'review-share' );
		}
		
		&::after {
			background-image: get-icon( 'review-share' );
		}
    }
    
    &--review-yes {
		
		&::before {
			background-image: get-icon( 'review-yes' );
		}
		
		&::after {
			background-image: get-icon( 'review-yes' );
		}
	}


    &--search {
		
		&::before {
			background-image: get-icon( 'search' );
		}
		
		&::after {
			background-image: get-icon( 'search' );
		}
    }
    
    &--shopping-bag {
		
		&::before {
			background-image: get-icon( 'shopping-bag' );
		}
		
		&::after {
			background-image: get-icon( 'shopping-bag' );
		}
	}




}

.seafoam-logo{
    margin-bottom: 30px;
position: relative;
height: 64px;
width: 64px;
color: transparent;

	&::before,
	&::after {
		background: center / 64px 64px no-repeat;
		// border-radius: 100em;
		bottom: 0;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
        width: 64px;
        background-size: 110%;
	}


    &::before {
        background-image: get-icon( 'logo-seafoam' );
    }
    
    &::after {
        background-image: get-icon( 'logo-seafoam' );
    }
}





// .basket{
//     margin-bottom: 30px;
// position: relative;
// height: 64px;
// width: 64px;
// color: transparent;


// // padding-right: 30px;

// 	&::before,
// 	&::after {
// 		background: center / 22px 22px no-repeat;
// 		// border-radius: 100em;
// 		bottom: 0;
// 		content: '';
// 		position: absolute;
// 		right: 10px;
// 		top: 0;
//         width: 22px;
//         background-size: 110%;
// 	}


//     &::before {
//         background-image: get-icon( 'shopping-bag' );
//     }
    
//     &::after {
//         background-image: get-icon( 'shopping-bag' );
//     }
// }